.total{
          font-size: 16px;
          color: red;
          padding-right: 75px;
}
.total span{
          color: black;
          font-weight: 600;
}

.btnAdd
{
          background-color:#90b4ff;
}
.botonDerecha{
          float: right;
}
.center{
          margin-left: auto;
          margin-right: auto;
}